<div class="row pt-3 pb-3">
  <div class="col-md-4">
    <mat-slide-toggle>
      Sundays
    </mat-slide-toggle>
  </div>
  <div class="col-md-8">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Start Time</mat-label>
      <input matInput placeholder="8:00AM" />
    </mat-form-field>
    <span class="ps-5 pe-5">to</span>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>End Time</mat-label>
      <input matInput placeholder="8:00AM" />
    </mat-form-field>
  </div>
</div>

<mat-divider></mat-divider>

<div class="row pt-3 pb-3">
  <div class="col">
    <mat-slide-toggle>
      Mondays
    </mat-slide-toggle>
  </div>
  <div class="col-md-8">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Start Time</mat-label>
      <input matInput placeholder="8:00AM" />
    </mat-form-field>
    <span class="ps-5 pe-5">to</span>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>End Time</mat-label>
      <input matInput placeholder="8:00AM" />
    </mat-form-field>
  </div>
</div>

<mat-divider></mat-divider>

<div class="row pt-3 pb-3">
  <div class="col">
    <mat-slide-toggle>
      Tuesdays
    </mat-slide-toggle>
  </div>
  <div class="col-md-8">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Start Time</mat-label>
      <input matInput placeholder="8:00AM" />
    </mat-form-field>
    <span class="ps-5 pe-5">to</span>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>End Time</mat-label>
      <input matInput placeholder="8:00AM" />
    </mat-form-field>
  </div>
</div>

<mat-divider></mat-divider>

<div class="row pt-3 pb-3">
  <div class="col">
    <mat-slide-toggle>
      Wednesdays
    </mat-slide-toggle>
  </div>
  <div class="col-md-8">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Start Time</mat-label>
      <input matInput placeholder="8:00AM" />
    </mat-form-field>
    <span class="ps-5 pe-5">to</span>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>End Time</mat-label>
      <input matInput placeholder="8:00AM" />
    </mat-form-field>
  </div>
</div>

<mat-divider></mat-divider>

<div class="row pt-3 pb-3">
  <div class="col">
    <mat-slide-toggle>
      Thursdays
    </mat-slide-toggle>
  </div>
  <div class="col-md-8">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Start Time</mat-label>
      <input matInput placeholder="8:00AM" />
    </mat-form-field>
    <span class="ps-5 pe-5">to</span>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>End Time</mat-label>
      <input matInput placeholder="8:00AM" />
    </mat-form-field>
  </div>
</div>

<mat-divider></mat-divider>

<div class="row pt-3 pb-3">
  <div class="col">
    <mat-slide-toggle>
      Fridays
    </mat-slide-toggle>
  </div>
  <div class="col-md-8">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Start Time</mat-label>
      <input matInput placeholder="8:00AM" />
    </mat-form-field>
    <span class="ps-5 pe-5">to</span>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>End Time</mat-label>
      <input matInput placeholder="8:00AM" />
    </mat-form-field>
  </div>
</div>

<mat-divider></mat-divider>

<div class="row pt-3 pb-3">
  <div class="col">
    <mat-slide-toggle>
      Saturdays
    </mat-slide-toggle>
  </div>
  <div class="col-md-8">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Start Time</mat-label>
      <input matInput placeholder="8:00AM" />
    </mat-form-field>
    <span class="ps-5 pe-5">to</span>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>End Time</mat-label>
      <input matInput placeholder="8:00AM" />
    </mat-form-field>
  </div>
</div>

<div class="row pt-3 pb-3">
  <div class="col">
    <button
      class="w-40"
      title="Login"
      type="button"
      mat-raised-button
      color="primary"
    >
      UPDATE
    </button>
  </div>
</div>