.container {
    position: relative;
    display: flex;
    margin: 0;
    overflow: hidden;
}

.tag {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
}

.img-right {
    width: 100%;
    filter: brightness(50%);
}

/* Centered text */
.centered {
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 500px;
}

.text-quote {
    color: white;
    font-size: 4.5em;
    font-weight: 900;
}