<div class="navbar">
  <div class="top">
    <mat-icon [inline]="true">notifications_none</mat-icon>
  </div>
  <div class="user">
    <img
      src="assets/admin-settings-male.png"
      alt=""
    />
    <h4 class="name">admin</h4>
    <p class="mail">admin@gmail.com</p>
  </div>
  <div class="menu">
    <div class="menu-head" md-colors="{color:'primary'}">
      <span>dashboard</span>
    </div>

    <div class="menu-item">
      <button title="Home" mat-button class="menu-button" [routerLink]="['']">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>

      <button title="View Theme" mat-button class="menu-button" [routerLink]="['/view-theme']">
        <mat-icon>palette</mat-icon>
        <span>View Theme</span>
      </button>

      <button title="School" mat-button class="menu-button" [matMenuTriggerFor]="classes" *ngIf="(loggedIn | async)">
        <mat-icon>school</mat-icon>
        <span>School</span>
      </button>
      <mat-menu #classes="matMenu"  xPosition="before">
        <button title="IT106" mat-menu-item [matMenuTriggerFor]="it106">IT106</button>
        <button title="IT102" mat-menu-item [matMenuTriggerFor]="it206">IT102</button>
      </mat-menu>
      <mat-menu #it106="matMenu">
        <button title="Assignment 1" mat-menu-item [routerLink]="['school/it-106/assignment-1/solution']">Assignment 1</button>
        <button title="Assignment 2" mat-menu-item [routerLink]="['school/it-106/assignment-2/solution']">Assignment 2</button>
        <button title="Assignment 3" mat-menu-item>Assignment 3</button>
        <button title="Assignment 4" mat-menu-item>Assignment 4</button>
        <button title="Assignment 5" mat-menu-item>Assignment 5</button>
      </mat-menu>    
      <mat-menu #it206="matMenu">
        <button title="Assignment 1" mat-menu-item>Assignment 1</button>
        <button title="Assignment 2" mat-menu-item>Assignment 2</button>
        <button title="Assignment 3" mat-menu-item>Assignment 3</button>
        <button title="Assignment 4" mat-menu-item>Assignment 4</button>
        <button title="Assignment 5" mat-menu-item>Assignment 5</button>
      </mat-menu>  

      <button title="Settings" mat-button class="menu-button">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
    </div>


  </div>
</div>
