<div class="row pt-2 pb-2">
  <div class="col-md-11">
    <mat-card class="example-card">
      <mat-card-subtitle>Session with Tran</mat-card-subtitle>
      <mat-card-title>Monday, Oct 8</mat-card-title>
      <mat-card-content>
        <p>7:30 pm - 8:00 pm EST</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
    </mat-card>
  </div>
</div>

<div class="row pt-2 pb-2">
  <div class="col-md-11">
    <mat-card class="example-card">
      <mat-card-subtitle>Session with Ethan</mat-card-subtitle>
      <mat-card-title>Tuesday, Oct 9</mat-card-title>
      <mat-card-content>
        <p>7:30 pm - 8:30 pm EST</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
    </mat-card>
  </div>
</div>

<div class="row pt-2 pb-2">
  <div class="col-md-11">
    <mat-card class="example-card">
      <mat-card-subtitle>Session with Yan</mat-card-subtitle>
      <mat-card-title>Thursday, Oct 11</mat-card-title>
      <mat-card-content>
        <p>6:30 pm - 8:30 pm EST</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
    </mat-card>
  </div>
</div>