<ng-container *ngIf="user$ | async as user">
  <div class="row bg-accent ps-5" style="height: 130px;" >
    <img class="circle-img" [src]="user.profile.picURL" (error)="setDefaultPic()" alt="Photo of a person">
  </div>
  
  <div class="row" style="padding-top: 7em;">
    <div class="col-lg-5 ps-5">
      <app-user-bio [user]="user"></app-user-bio>
    </div>
  
    <div class="col-lg-1">
      <mat-divider vertical style="height:100%"></mat-divider>
    </div>
  
    <div class="col-lg-6">
      <app-appointment-area></app-appointment-area>
    </div>
  </div>
  
</ng-container>