<div class="container" style="min-height: 500px;">
  <div class="tag h-100" style="width: 30%;">
    <div class="h-100">
      <div class="h-100" *ngIf="showComponent == 0">
        <registration class="h-100"></registration>
        <div class="row text-center">
          <div class="col">Already have an account? <span class="hyper-link color-primary" (click)="switchToLogin()">Sign In</span></div>
        </div>
      </div>

      <div class="h-100" *ngIf="showComponent == 1">
        <login></login>
        <div class="row text-center h-100">
          <div class="col">New to ExLang? <span class="hyper-link color-primary" (click)="switchToRegister()">Create an account</span></div>
        </div>
      </div>
    </div>
  </div>
  <img src="/assets/img/registration.jpg" alt="Italian Trulli" class="img-right">

  <div class="centered">
    <div class="text-quote" style="color: white;">
      "<span class="color-accent">ExLang</span> not only helps you 
      <span class="color-accent">ex</span>change <span class="color-accent">lang</span>uage, but also make friends."
    </div>
  </div>
</div>

