<div class="container" style="min-height: 500px;">
  <div class="tag h-100" style="width: 30%;">
    <mat-card class="text-center m-auto p-0 h-100 pt-5">
      <mat-card-title class="fw-bold">ExLang</mat-card-title>
      <mat-card-content class="ps-5 pe-5">
        <registration *ngIf="showComponent == 0"></registration>
        <login (switchToForgotPasswordComponent)="switchToForgotPassword($event)" *ngIf="showComponent == 1"></login>
        <app-forgot-password *ngIf="showComponent == 2"></app-forgot-password>
        <app-sign-up-profile *ngIf="showComponent == 3"></app-sign-up-profile>

      </mat-card-content>

      <div class="row text-center pt-3">
        <div *ngIf="showComponent == 0 || showComponent == 2" class="col">Already have an account? <span class="hyper-link color-primary" (click)="switchToLogin()">Sign In</span></div>
        <div *ngIf="showComponent == 1" class="col">New to ExLang? <span class="hyper-link color-primary" (click)="switchToRegister()">Create an account</span></div>
      
      </div>

    </mat-card>
  </div>
  <img src="/assets/img/registration.jpg" alt="Italian Trulli" class="img-right">

  <div class="centered">
    <div class="text-quote" style="color: white;">
      "<span class="color-accent">ExLang</span> not only helps you 
      <span class="color-accent">ex</span>change <span class="color-accent">lang</span>uage, but also make friends."
    </div>
  </div>
</div>

